.LayoutPerfilContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.PerfilContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90%;
    border: 1px solid #62079F;
    border-radius: 40px;
    box-shadow: 0 0 20px   #c653e994;
    gap: 20px;
}

.imagenPorDefectoPerfil{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 1px solid #62079F;
    box-shadow: 0 0 20px   #c653e994;
    border-spacing: 1000px;
    margin: 25px;
    padding: 0px;
}

.imagenSubidaPerfil{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 1px solid #62079F;
    box-shadow: 0 0 20px   #c653e994;
    margin: 25px;
    padding: 0px;
}

.PerfilTitulo{
        font-family: Catamaran;
        font-size: 70px;
        font-weight: 600;
        color: #62079F;
        letter-spacing: 3px;
        text-decoration: overline;
        text-transform: uppercase;
    }

.DatosPerfil{
    display: flex;
    margin-bottom: 2%;
}

.FieldSetPerfil{
    border: 5px solid #62079F;
    border-radius: 5px ;
}

.LegendPerfil{
    font-family: Catamaran;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 40px;
}

.ulCampos{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.liCampos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-family: Catamaran;
    letter-spacing: 3px;
    font-size: 25px;
}

.Campos{
    background-color: #47444494;
}