.App {
  text-align: center;
  overflow-x: hidden;
  background-color: #1F1D1D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-nav{
  background-color: #62079F;
  width: auto;
  height: 100px;
}

.scrollButton{
  background-color: #1F1D1D;
  padding: 5px;
  border-radius: 50px;
  color: #F6F5E4;
  transition: 0.3s ease;
  
}

.scrollButton:hover{
  background-color: #F6F5E4;
  color: #1F1D1D;

}
